body {
    background-color: lightgrey;
    color: rgba(60, 60, 60, 0.8);
    padding-top: 65px;
}

.container-fluid {
    padding: 0px;
}

/* ------------------------------------------------------ NAVBAR */

.navbar-brand {
    font-size: 34px;
    padding: 0px 20px;
}

.navbar-toggler {
    margin: 0px 20px
}

.nav-item {
    text-align: center;
}

/* ----------------------------------------- INTRODUCTION HEADER */

#heading {
    padding: 20px 30px 0px;
}

/* ---------------------------------------- INTRODUCTION SECTION */

.col-12 {
    padding: 20px 30px;
}

p {
    margin: 0px;
}

/* ------------------------------------ RESPONSIVE DIVISION LINE */

.h-div {
    border-bottom: 1px solid black;
}

/* ---------------------------------------------- SPLITTER IMAGE */

#splitter1 {
    padding-top: 10px;
}

/* ----------------------------------------------------- GALLERY */

#gallery {
    padding: 20px 30px;
}

#photo {
    clear: both;
    line-height: 0;
    column-count: 2;
    column-gap: 0px;
}

#photo img{
    width: 100%;
}

/* ------------------------------------------------- SIGNUP FORM */

#signup {
    padding: 20px 30px;
}

.signup-form {
    text-align: center;
    color: #fafafa;
    background-color: rgba(60, 60, 60, 0.65);
    padding: 20px;
    display: grid;
    place-items: center;
}

.signup-form p {
    padding-bottom: 20px;
}

/* ------------------------------------------ SIGNUP FORM BUTTON */

.join-button {
    border-radius: 10px;
    padding: 10px 50px;
    background-color: rgba(60, 60, 60, 0.65);
    color: #fafafa;
}

.join-button:hover {
    background-color: #fafafa;
    color: rgba(60, 60, 60, 0.6);
}

/* ---------------------------------------- SOCIAL NETWORK LINKS */

footer {
    height: 50px;
}

.social-networks {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(60, 60, 60, 0.65);
    color: #fafafa;
}

.social-networks a {
    color: #fafafa;
    text-decoration: none;
    padding-right: 15px;
    padding-left: 15px;
}

.social-networks li {
    display: inline;
    text-decoration: none;
}

/* ---------------------------------- RESPONSIVE DESIGN ELEMENTS */

@media (min-width: 768px) {
    body {
        padding-top: 110px;
    }
    .navbar {
        padding: 20px;
    }
    .navbar-brand {
        font-size: 46px;
        padding: 0px 20px;
        margin: 0px;
    }
    .nav-link {
        margin: 15px;
    }
    .h-div {
        border-right: 2px solid black;
        border-bottom: none;
    }
    #heading {
        padding: 20px 30px;
    }
    #splitter1 {
        padding-top: 20px;
    }
    #gallery {
        padding: 20px 30px;
    }
    #photo {
        column-count: 4;
    }
    .signup-form {
        display: inline-block;
    }
}

@media (max-width: 576px) {
    .navbar-brand {
        font-size: 30px;
        padding: 0px 20px;
        margin: 0px;
    }
    .navbar-toggler {
        margin: 0px 20px;
    }
}